<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UNIshifts{% endblock %}</title>
    {% load url from future %}
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'shifts_app/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2:500" rel="stylesheet" type="text/css">
</head>

<body>
    

    <nav class= "navbar navbar-inverse">
        <div class= "container-fluid">
            <div class= "navbar-header">
                <a class="navbar-brand" href="{% url 'shifts_app:employee_main' %}">{{ user.get_username }}</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'shifts_app:employee_main' %}">All Your Shifts</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'shifts_app:shift_cover' %}">Shifts Coverage</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'shifts_app:chat_room' %}">Posts</a>
            </div>


            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Shifts By Weekday</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'shifts_app:monday' %}">Monday Shifts </a>
                    <a href="{% url 'shifts_app:tuesday' %}">Tuesday Shifts</a>
                    <a href="{% url 'shifts_app:wednesday' %}">Wednesday Shifts</a>
                    <a href="{% url 'shifts_app:thursday' %}">Thursday Shifts </a>
                    <a href="{% url 'shifts_app:friday' %}">Friday Shifts</a>
                    <a href="{% url 'shifts_app:saturday' %}">Saturday Shifts</a>
                    <a href="{% url 'shifts_app:sunday' %}">Sunday Shifts</a>
                </div>
            </div>
            <script>
                    function myFunction() {
                        document.getElementById("myDropdown").classList.toggle("show");
                    }
                    
                    window.onclick = function(event) {
                      if (!event.target.matches('.dropbtn')) {
                    
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                          }
                        }
                      }
                    }
            </script>

            <div class="nav-item">
                <a href="{% url 'logout' %}?next=/shifts_app/">Logout</a>
            </div>
        </div>

        
    
    </nav>
{% block body %}
{% endblock %}

</body>
</html>